/*Whole Page*/

* {
	box-sizing: border-box;
}

body {
	font-family: arial, san-serif;
	margin: 0;
}

.background {
	background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/park.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
  padding: 6% 0;
}

nav {
	background-color: #75e2e6;
	border-bottom: #048eaa 3px solid;
	display: inline-block;
	padding: 0 1%;
	width: 100%;
}

.logo {
	border-radius: 50%;
	float: left;
	margin: 1%;
	width: 5%;
}

.menuText {
	padding: 1.5%;
	text-align: right;

}

ul {
	margin:0;
}

.menuStyle {
	color: #000;
	display: inline-block;
	list-style-type: none;
	padding: 1%;
}

a:link {
	color: #000;
	text-decoration: none;
}

a:hover {
	background-color: #048eaa;
	color: #fff;
}

header {
	color: #fff;
	margin: auto;
	max-width: 480px;
	width: 60%;
}

.headerTitle h1 {
	font-weight: 400;
	margin: 0;
	text-align: center;
}

.someDogsText {
	font-weight: 800;
}

.image-container {
	margin-top: 3em;
	text-align: center;
}

.headImage {
	border-radius: 50%;
	border: 5px solid #75e2e6;
	padding: 0;
	width: 40%;
}

h4 {
	color: #000;
	margin: 0;
}

form {
	box-sizing: border-box;
}

.nameLabel {
	color: #fff;
	margin: 2% 0;
	text-align: left;
}

.input {
	margin-bottom: 5%;
	padding: 3%;
	text-align: left;
	width: 100%;
}

.submit {
	background-color: #75e2e6;
	color: #000;
	padding: 3%;
	width: 100%;
}


.mainBody {
	background-color: #fff;
	margin: 0%;
	padding: 3% 0;
}

.textColumn {
  display: inline-block;
  padding: 0 3%;
  vertical-align: top;
  width: 33%;
}

.copy-text {
	min-height: 170px;
}

h2 {
	color: #000;
	text-align: center;
}

.dogImages {
	border-radius: 50%;
	border: 5px solid #75e2e6;
	height: 200px;
	margin: 0 25%;
}

p {
	color: #000;
}

button {
	background-color: #048eaa;
	color: #fff;
	font-size: 16px;
	padding: 4%;
	width: 100%;
}

footer {
	background-color: #048eaa;
	color: #fff;
	padding: 3%;
	text-align: center;
}

h3 {
	margin: 0;
	margin-left: 3%;
}

footer li {
	display: inline-block;
	padding: 2%;
}

@media only screen and (max-width: 970px) {
	.copy-text {
    min-height: 200px;
	}
	.text {
		padding: 0 2%;
    width: 32.9%;
	}
}

@media only screen and (max-width: 768px) {
	.text {
		display: block;
    margin: auto;
    width: 60%;
	}
}

@media only screen and (max-width: 500px) {
	.text {
		padding: 0 10%;
		width: 100%;
	}
}
